DATABASE_URL="postgresql://pandicrm:p4nd1crm_s3cure_2026@localhost:5432/pandicrm?schema=public"
AUTH_SECRET="generate-a-random-32-char-string-here"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="production"
